.navbar {
  height: 120px;
  background:#527DA4;

}
.nav{
  margin-top: 20px;
  text-align: center;
  
}
li{
  color: aliceblue;
}
.nav li{
  list-style: none;
  padding: 5px;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;

}
.nav li:hover {
  background-color: #1fe073;
  border-radius: 10px;
}
.nav-items{
  display:flex;
  justify-content: center;
}
.footer {
  position: fixed;
  bottom:0;
  left:0;
  width:100%;
  height: 70px;
  border-top: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.footer a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}