body{
    width: auto;
    height: auto;
   background-color: bisque;
}

.members{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: auto;
    height: auto;
    background-color: beige;
    padding: 30px;
}

.spoiler {
    display: flex;
    flex-direction: row;
    background-color: azure;
    align-content: center;
    height: auto;
    width: auto;
    border-radius: 50px;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px grey;
}


.inner {
    display: block;
}

.inner p{
    width: auto;
    text-align: center;
    font-size: 15px;
    font-weight: 530;
}

.inner h1{
    width: auto;
    text-align: center;
}

.inner h3{
    width: auto;
    text-align: center;
}

.outer{
    border-radius: 50px;
    width: 200px;
    height: auto;
}

/* social share */

#social-img{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
    height: 30px;
}

.face{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    order: 0;
    flex-grow: 0;
}

.insta{
    width: 20px;
    height: 20px;
    order: 1;
    flex-grow: 0;
    border-radius: 50%;
}
 
.twiter{
    width: 20px;
    height: 20px;
    order: 2;
    flex-grow: 0;
    border-radius: 50%;
}

.github{
    width: 20px;
    height: 20px;
    order: 3;
    flex-grow: 0;
    border-radius: 50%;
}

.linked{
    width: 20px;
    height: 20px;
    order: 4;
    flex-grow: 0;
    border-radius: 50%;
}

@media screen and (max-width: 450px) {
    .outer{
        width: 170px;
    }

    .inner h1{
        font-size: medium;
    }

    .inner h3{
        font-size: small;
    }

    .inner p{
        font-size: smaller;
    }

    #social-img{
        display: none;
    }
}