<<<<<<< HEAD
body{
   
}

.spoiler {
}

.inner {
   
}

.inner p{
    width: 200px;
}

.members{
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: 1000px;
}

.outer{
    border-radius: 50px;
    width: 200px;
    height: 200px;
}
=======

>>>>>>> 2b8444d42593eba1b07fb2e61e879d7bf7596de3
